body {   
    background: url(../imags/fomdoexam.jpg) center top;
    background-size: cover;    
  }

  .modal{     
    opacity: 0.8;
  }

  section .card-avatar{
    position: relative !important; 
    background: transparent; 
    top: 50px; 
    border: transparent;
  }

 section .conten-avatar{
    
  }

section .img-avatar{
  width:120px; 
  height:120px;
}

section .bg-card{
  /*background-color: transparent;*/
  background-color: #F8B688;
}

section .login-box{
  background-color: #F8B688;
}

/*
  @media screen and (max-width: 360px) {
    .login-box {
      width: 20em;
      height: 28em;
      opacity: 0.8;
      border-radius: 20px;
      background: wheat;
      top: 20em;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 20px;
    }
  
    .login-box .logo {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
  
    .login-box h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }
  
    .login-box label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 18px;
      display: block;
    }
  
    .login-box input {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      text-align: center;
      font-size: 18px;
    }
  
    .login-box input[type="text"]:focus,
    .login-box input[type="password"]:focus {
      text-align: center;
      border-radius: 20px;
      border-color: #b91116;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 18px;
    }
  
    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b91116;
      color: white;
      font-size: 20px;
      border-radius: 25px;
    }
  
    .login-box input[type="submit"]:hover {
      border: none;
      outline: none;
      height: 40px;
      background: #970b10;
      color: white;
      font-size: 18px;
      border-radius: 20px;
      box-shadow: #970b10;
      cursor: pointer;
    }
  
    
  
    .login-box a:hover {
      color: tomato;
    }
  
    .conten, .modal .btn  {
     display: none;
    }
  }

  @media screen and (min-width: 361px) and (max-width: 480px) {
    .login-box {
      width: 21em;
      height: 33em;
      opacity: 0.8;
      border-radius: 20px;
      background: wheat;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }
  
    .login-box .logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
  
    .login-box h1 {
      margin: 0;
      padding: 0 0 25px;
      text-align: center;
      font-size: 26px;
    }
  
    .login-box label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
      font-size: 18px;
    }
  
    .login-box input {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      text-align: center;
      font-size: 18px;
    }
  
    .login-box input[type="text"]:focus,
    .login-box input[type="password"]:focus {
      text-align: center;
      border-radius: 20px;
      border-color: #b91116;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 18px;
    }
  
    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b91116;
      color: white;
      font-size: 20px;
      border-radius: 30px;
    }
  
    .login-box input[type="submit"]:hover,
    .login-box input[type="submit"]:focus {
      border: none;
      outline: none;
      height: 40px;
      background: #970b10;
      color: white;
      font-size: 20px;
      border-radius: 20px;
      box-shadow: #970b10;
      cursor: pointer;
    }
  
    .login-box a {
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      color: rgb(119, 119, 119);
    }
  
    .login-box a:hover {
      color: tomato;
    }
  
    .conten, .modal .btn {
      display: none;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 1079px) {
    .login-box {
      width: 23em;
      height: 33em;
      opacity: 0.8;
      border-radius: 20px;
      background: wheat;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }
  
    .login-box .logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
  
    .login-box h1 {
        margin: 0;
        padding: 0 0 25px;
        text-align: center;
        font-size: 28px;
      }
    
      .login-box label {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
        font-size: 20px;
      }
    
      .login-box input {
        width: 100%;
        margin-bottom: 30px;
      }
  
    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 20px;
      text-align: center;
    }
  
    .login-box input[type="text"]:focus,
    .login-box input[type="password"]:focus {
      text-align: center;
      border-radius: 20px;
      border-color: #b91116;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 20px;
    }
  
    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b91116;
      color: white;
      font-size: 22px;
      border-radius: 20px;
    }
  
    .login-box input[type="submit"]:hover,
    .login-box input[type="submit"]:focus {
      border: none;
      outline: none;
      height: 40px;
      background: #970b10;
      color: white;
      font-size: 18px;
      border-radius: 20px;
      box-shadow: #970b10;
      cursor: pointer;
    }
  
    .login-box a {
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      color: rgb(119, 119, 119);
    }
  
    .login-box a:hover {
      color: tomato;
    }
  
    .conten, .modal .btn {
      display: none;
    }
  }
  
  @media screen and (min-width: 1080px) and (max-width: 1439px), (min-width: 1440px) {
    .login-box {
      width: 23em;
      height: 37em;
      opacity: 0.8;
      border-radius: 20px;
      background: wheat;
      top: 50%;
      left: 70%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }
  
    .login-box .logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
  
    .login-box h1 {
      margin: 0;
      padding: 0 0 10%;
      text-align: center;
      font-size: 24px;
    }
  
    .login-box label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
      font-size: 18px;
    }
  
    .login-box input {
      width: 100%;
      margin-bottom: 8%;
    }
  
    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 18px;
      text-align: center;
    }
  
    .login-box input[type="text"]:focus,
    .login-box input[type="password"]:focus {
      text-align: center;
      border-radius: 20px;
      border-color: #b91116;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: rgb(119, 119, 119);
      font-size: 20px;
    }
  
    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 50px;
      background: #b91116;
      color: white;
      font-size: 20px;
      border-radius: 20px;
    }
  
    .login-box input[type="submit"]:hover {
      border: none;
      outline: none;
      height: 40px;
      background: #970b10;
      color: white;
      font-size: 20px;
      border-radius: 20px;
      box-shadow: #970b10;
      cursor: pointer;
    }
  
    .login-box a {
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      color: rgb(119, 119, 119);
    }
  
    .login-box a:hover {
      color: tomato;
    }
  
    .conten {
      width: 40em;
      height: 37em;
      opacity: 0.8;
      border-radius: 20px;
      background: wheat;
      top: 50%;
      left: 30%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 20px 30px;
    }
  
    .conten h1 {
      margin: 0;
      padding: 10px 0 20px;
      text-align: justify;
      font-size: 20px;
    }
  
    .conten p,
    .conten li,
    .conten label {
      font-size: 16px;
    }

    .info{
      display: none;
    }
  }/*